################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/mpi_sample/v14
/mpi_sample.VC.db
/mpi_sample.sdf
/mpi_sample.VC.VC.opendb
/x64
/mpi_sample/My Amplifier XE Results - mpi_sample
/mpi_sample/x64
/mpi_sample/My Advisor Results - mpi_sample
/mpi_sample/My Inspector Results - mpi_sample
